*{
    box-sizing: border-box;
    margin: auto;

}

body{

    font-family: Arial;
}

header{

    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 50px;

}

section:after{
    clear: both;
    display: table;
    content: "";  
}

nav{
    float: left;
    width: 30%;
    background-color: #ccc;
    padding: 20px;
}

nav ul{

    list-style-type: none;
    padding:0;
}

article{
    float: left;
    width: 70%;
    background-color: #f1f1f1;
    padding: 20px;
}

footer{
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 10px;
}


