body{
    margin: auto;
}

nav{
    background-color: lightgray;
    justify-content: flex-end;

}

.flex-container{

    display: flex;
    
    
}

.item-menu{
    padding: 10px;

}

#imgPerfil{
    border-radius: 50%;
    width: 100px;
    height: 100px;


}

header{
    
    flex-direction: column;
    justify-content:center;
}

.divPerfil{

    justify-content:center;

}